<!Doctype html>
<html>
<head>
  <style type="text/css"> a {text-decoration:none;} </style>
  <style>
  body{ background-color:OldLace;
  }
  h1{
    color:orange;
    text-align: center;
    font-family:verdana;
  }
  h4{
    text-align: right;
  }
  ul{
    text-align: center;
  }
  li{
  float:right;
    list-style-type: none;
    padding-right: 30px;
  }
  .nav{
    text-align: center;
    background-color:powderblue;
    background-position: center;
    width:300px;
    height:20px;
  }
  </style>
  <title>Student Info</title>
</head>
<body>
  <hr>
  <hr>
<h1><blink>International Institute Of Proffessional studies</h1>
  <img src="http://www.iips.edu.in/images/iips_logo.png"alt="IIPS DAVV"/><br><br>
  <div class="nav">
  <a href="http://www.iips.edu.in/about_iips.php"><li>About</li></a>
  <a href="http://www.iips.edu.in/syllabus.php"><li>Admission</li></a>
  <a href="http://www.iips.edu.in/syllabus.php"><li>Academic</li></a><br>
  </div>
  <hr>
<ul>
</ul>
<form action="/register" method="post">
  <input name="name"placeholder="Student name" type="text">
    <input name="email"placeholder="Enter Email" type="email">
  <input name="semester"placeholder="Semester"type="search">
  <select name="Course">
  <option disabled selected value="">Course</option>
  <option value="MCA">MCA</option>
    <option value="MBA">MBA</option>
      <option value="MTech">MTech</option>
        <option value="MBA (Ms)">MBA (Ms)</option>
        <br>
        <br>
        <input type="text" name="feedback" placeholder="Feedback">
        <a href="submitted.html"><input type="submit"></a>
        <br>
</body>
</html>
